.ipynb_checkpoints
data_as_array/*
models/*
images/antelope/*
images/baboon/*
images/bears/*
images/bird/*
images/cheetah/*
images/deer/*
images/elephants/*
images/giraffe/*
exclude.txt
images/hare/*
images/hippo/*
images/leopard/*
images/lion/*
images/rhino/*
images/tiger/*
images/zebra/*

